.results-div {
  position: absolute;
  bottom: initial;
  width: 100vw;
  padding-bottom: 15vh;
  background-color: lightgray;
  background-image: url("../../pages/CityPage/overlay.png"),
    -moz-linear-gradient(45deg, lightgray 15%, rgb(63, 60, 60) 85%);
  background-image: url("../../pages/CityPage/overlay.png"),
    -webkit-linear-gradient(45deg, lightgray 15%, rgb(63, 60, 60) 85%);
  background-image: url("../../pages/CityPage/overlay.png"),
    -ms-linear-gradient(45deg, lightgray 15%, rgb(63, 60, 60) 85%);
  background-image: url("../../pages/CityPage/overlay.png"),
    linear-gradient(45deg, lightgray 15%, rgb(63, 60, 60) 85%);
}

.city-div {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  text-align: left;
}

.city-div:hover {
  opacity: 0.8;
  background-color: grey;
}
