.searchbar-h1 {
  color: black;
  margin-top: 0px;
  margin-bottom: 60px;
  font-family: "Chewy", cursive;
}
.searchbar-h4 {
  margin-top: 15vh;
  font-family: "Chewy", cursive;
  color: black;
}
.searchbar-div {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.search-div {
  justify-content: center;
  padding: 0 25vw;
  margin-top: 15vh;
  margin-bottom: 50vh;
  height: 10vh;
}

.searchbar-button {
  padding: 12px 10px;
  width: 30%;
  border-radius: 4px;
  background-color: #4286f4;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
}

.resultsPage {
  position: fixed;
  bottom: auto;
  height: 1000px;
  width: 100%;
  margin-bottom: 60vh;
}
