.cont {
  width: 100vw;
}

.NavBar {
  font-size: 20px;
  background-color: skyblue;
  opacity: 0.75;
}

.NavBar-link {
  margin: 20px 20px 0 20px;
  float: left;
  color: black;
  font-weight: bold;
}

.NavBar-link:hover {
  color: rgb(30, 66, 226);
  text-shadow: 2px black;
}

.NavBar-welcome {
  color: grey;
  float: right;
  font-weight: bolder;
  font-size: 25px;
  margin: 15px 20px 20px 20px;
  color: black;
}
