.NavBar {
  height: 7vh;
  font-size: 20px;
  background-color: skyblue;
  opacity: 0.75;
}

.NavBar-link {
  margin: 20px 20px 0 20px;
  float: left;
  color: black;
}

.NavBar-welcome {
  color: grey;
  float: right;
  margin: 20px 20px 0 20px;
  color: black;
}

.NavBar-logo {
  color: black;
  text-align: center;
  font-family: cursive;
  font-weight: bolder;
  font-size: 4vh;
  margin: 0 25vw;
}
